<div class="lp">
	<div class="lp-banner">
	  <div class="jumbotron">
	    <div class="text-content">
				<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	      <h1 class="jumbotron-title">Sweet You Dream</h1>
				<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	      <p class="jumbotron-slogan">
	        Follow Your Heart
	      </p>
	      <p class="jumbotron-lead"><a class="btn-lg lp-b-btn" href="/products">
	      Want Taste </a>
				<br>
	      </p>
	    </div>
	  </div>
	</div>

  <section id="categories">
		<div class="container">
			<h1 class="tc">Our Products</h1>
      <hr/>
			<div class="row">
				<div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
						<% Product.all.includes(:photos).sort_by {|product| product.favorites.count}.reverse.each_with_index do |product, index| %>
							<% if index < 7 %>
								<% if product.photos.present? %>
									<%= link_to image_tag(product.photos[0].avatar.thumb.url),product_path(product) %>
							<% else %>
								<%= link_to image_tag("http://placehold.it/200x200&text=No Pic", class: "img-ts"), product_path(product) %>
									<% end %>
								<% end %>
							<% end %>
				    </div>
			  </div>
			</div>
		</div>
	</section>


  <section id="testimonials" class="sec-testimonials">
    <div class="container">
      <h1 class="tc">OVER
        <span>25,0000 </span>CUSTOMERS
        <br>
        TRUST US WITH OUR PRODUCTS!
      </h1>
      <hr />

        <div class="col-sm-4">
          <div class="sec-profileImg">
            <img src="http://i3.sinaimg.cn/2010/star/U370P939T7D69F133DT20100201201912.jpg">
          </div>
          <div class="block-content">
            <p>"As a sporter,I know that Choco's chocolates use the best meterials to keep the taste and health,
							<br>You don't worried about the brand.
							"</p>
            <p class="text-right">&mdash; Lionel Messi</p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="sec-profileImg">
            <img src="http://www.nbc.com/the-tonight-show/content/sites/nbcutsjf/files/styles/bit_stacked_resized/public/images/2015/04/22/scarlett-johansson.jpg?itok=XYLgN1HC">
          </div>
            <div class="block-content">
              <p>"Choco's chocolates give me more health and sweet,
								<br>When you tired,it provides more energy!"</p>
              <p class="text-right">&mdash; Scarlett Johansson</p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="sec-profileImg">
              <img src="http://img1.gtimg.com/ent/pics/hv1/175/139/697/45358045.jpg">
            </div>
            <div class="block-content">
              <p>"The chocolate is good, is very good, it's very very good!
								<br> Not only me, but my family all love Choco!"</p>
              <p class="text-right">&mdash; David Beckham</p>
            </div>
      	</div>
      </div>
    </div>
  </section>


	<div class="text-content pa pt60 pb60">
			<p class="wow zoomIn" data-wow-duration=".5s" style="visibility: visible;animation-duration: 0.5s;animation-name: zoomIn;">
				<a class="btn-lg lp-b-btn bc" href="/products">Buy Now</a>
			</p>
	</div>
