<h2>收藏列表 </h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>产品</th>
      <th>收藏时间</th>
    </tr>
  </thead>
  <tbody>

    <% @favorites.each do |favorite| %>
    <tr>
      <td> <%= link_to(favorite.id, favorite_path(favorite.product_name ) %> </td>
      <td> <%= favorite.created_at.to_s(:long) %> </td>
    </tr>
    <% end %>

  </tbody>
</table>
