

<footer class="footer">
	<p>关于我们 <span>|</span> 帮助中心 <span>|</span> 开放平台 <span>|</span> 诚聘英才 <span>|</span> 联系我们 <span>|</span> 网站合作 <span>|</span> 友情链接</p>
	<p>
    <span class="logo-text">Copyright ©2017 购物商店</span>
    <span class="icp-center">Design by 杨业鹏 & 胡文静</span>
	</p>
    <!-- <ul class="soc-media-ul">
      <li>
        <a href="http://twitter.com" class="fa fa-twitter" target="_blank"></a>
      </li>

      <li>
        <a href="https://github.com/megychen" class="fa fa-github" target="_blank"></a>
      </li>

      <li>
        <a href="http://cz.linkedin.com" class="fa fa-linkedin" target="_blank"></a>
      </li>
      <li>
        <a href="mailto:example@mail.com" class="fa fa-envelope"></a>
      </li>
    </ul> -->

</footer>
